spring:
  application:
    name: expense-management
  datasource:
    url: jdbc:mysql://trolley.proxy.rlwy.net:10974/railway?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: IVVGSwLXTApJcNPJFndhORrUumdVTCKV
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB