spring:
  application:
    name: expense-management
  server:
    port: 8080
  datasource:
    url: jdbc:mysql://trolley.proxy.rlwy.net:10974/railway?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: IVVGSwLXTApJcNPJFndhORrUumdVTCKV
    hikari:
      initialization-fail-timeout: -1
      connection-timeout: 30000
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
